@import "./reset.css";

body{
  font-family: Arial, 'Open Sans', sans-serif, Helvetica;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  height: 100vh;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  display: grid;
  grid-template-columns: 352px 1fr;
  height: 100vh;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
