.aside{
    overflow-y: auto;
    background-color: #0F152B;
    padding: 52px 50px 96px;
}

.logoWrapper{
    margin-bottom: 110px;
}

.close {
    display: none;
}

@media (max-width: 1000px) {
    .aside {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: 100%;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s ease-in-out;
        will-change: opacity, transform;
        z-index: 200;
        padding: 20px;
    }

    .open {
        transform: translateX(0);
        opacity: 1;
    }

    .close {
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
    }
}